<div style="text-align: center">

  <h3> Update Website </h3>

  <form (ngSubmit)="onSubmit()">

    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label style="color: black;">Name </mat-label>
      <input matInput [(ngModel)]="websitteModel.name" name="name">
    </mat-form-field>
    <br>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label style="color: black;">URL</mat-label>
      <input matInput [(ngModel)]="websitteModel.url" name="url">
    </mat-form-field>
    <br>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label style="color: black;"> Active</mat-label>
      <input matInput [(ngModel)]="websitteModel.active" name="active">
    </mat-form-field>
    <br>
    <button mat-raised-button class="btn btn-dark" type="submit">Submit</button>
  </form>
</div>

